table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
a{
    color: white;

    background-image: linear-gradient(#9356dc, #ff79da);
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
   

}